/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: blue;
  text-decoration: none;
}

p {
	line-height: 150%;
	font-size: 19px;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 775px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: block;
  clear: both;
}

.cd-container h2{
	font-size: 25px;
	font-weight: 600;
}

.cd-container h3{
	font-weight: 600;
}


/* -------------------------------- 

Main components 

-------------------------------- */
.cd-scrolling-bg2 figure{
	float: right;
	margin-top: 45px;
	margin-left: 15px;
}

.fig1 figure{
	float: right;
	padding-left: 20px;
}

.fig2 figure{
	float: left;
	padding-right: 20px;
}	

figure img {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		vertical-align: top;
		width: 100%;
}

figure figcaption {
		/*border: 1px dotted blue; /* remove later */
		font-size: 15px;
		max-width: 305px;
		padding-top: 10px;
		padding-left: 5px;
		text-align: left;
}

blockquote {
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 3px solid #ccc;
}  	

table {
	margin-bottom: 25px;
    font-family: arial, sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    background-color: rgba(226, 226, 226, 0.5);
    text-align: left;
    padding: 8px;
}

footer{
	border-top: solid;
	margin: 30px;
	line-height: 150%;
}

ul.list{
	list-style-type: square;
	margin-left: 20px;
}

ul.ref{
	list-style-type: circle;
	margin-left: 20px;
}

.cd-header {
  position: fixed;	
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 10px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}

.cd-main-nav li a.current{
   color: #ffffff;
   background:#000000;
}

@media only screen and (min-width: 790px) { /* add this to min width*/
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-size: 0.72rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #7b7d7f;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white; /*title color*/
}

.subtitle{
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white; /*title color*/
}

.cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white; /*quote color*/
}
/*tesla*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/cd-background-4.jpg");
}

.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/cd-background-5.jpg");
}
/*elon*/
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/cd-background-6.jpg");
}

.cd-fixed-bg.cd-bg-7 {
  background-image: url("../img/cd-background-7.jpg");
}

.cd-fixed-bg.cd-bg-8 {
  background-image: url("../img/cd-background-8.jpg");
}

.cd-fixed-bg.cd-bg-9 {
  background-image: url("../img/cd-background-9.jpg");
}

.cd-fixed-bg.cd-bg-10 {
  background-image: url("../img/cd-background-10.jpg");
}
/*ada*/
.cd-fixed-bg.cd-bg-11 {
  background-image: url("../img/cd-background-11.jpg");
}

.cd-fixed-bg.cd-bg-12 {
  background-image: url("../img/cd-background-12.jpg");
}

.cd-fixed-bg.cd-bg-13 {
  background-image: url("../img/cd-background-13.jpg");
}

.cd-fixed-bg.cd-bg-14 {
  background-image: url("../img/cd-background-14.jpg");
}

.cd-fixed-bg.cd-bg-15 {
  background-image: url("../img/cd-background-15.jpg");
}
/*ed*/
.cd-fixed-bg.cd-bg-16 {
  background-image: url("../img/cd-background-16.jpg");
}

.cd-fixed-bg.cd-bg-17 {
  background-image: url("../img/cd-background-17.jpg");
}

.cd-fixed-bg.cd-bg-18 {
  background-image: url("../img/cd-background-18.jpg");
}

.cd-fixed-bg.cd-bg-19 {
  background-image: url("../img/cd-background-5.jpg");
}

.cd-fixed-bg.cd-bg-20 {
  background-image: url("../img/cd-background-5.jpg");
}

.cd-fixed-bg.cd-bg-21 {
  background-image: url("../img/cd-background-5.jpg");
}

.cd-fixed-bg.cd-bg-22 {
  background-image: url("../img/cd-background-5.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
	font-weight: 700;
  }
}

@media only screen and (min-width: 773px) {
	.subtitle{
	top: 56%;

}
}

@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1 {
    font-size: 55px;
    font-weight: 800;
  }
  .cd-fixed-bg h2 {
    font-size: 55px;
    font-weight: 500;
  }
}

.cd-scrolling-bg1 {
  position: relative;
  min-height: 55%;
  padding: 4em /*0*/;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cd-scrolling-bg2 {
  position: relative;
  min-height: 55%;
  padding: 0.75em /*0*/;
  line-height: 1.6;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cd-scrolling-bg.cd-color-1 {
  background-color: white;
  color: black;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: black;
  color: white;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: white;
  color: #3d3536;
}
@media only screen and (min-width: 773px) {
  .cd-scrolling-bg,.cd-scrolling-bg2 {
    padding: 3.5em 0; /*top padding*/
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

@media only screen and (max-width: 773px) {
	.cd-scrolling-bg2 figure{
		float: none;
		padding: 0;
	}
	figure figcaption {
		max-width: 100%;
		margin-bottom: 0.625em;
	}
	.fig1 figure{
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1170px){
	.cd-fixed-bg{
		min-height: 70%;
		width: 100%;
	}
}

@media only screen and (max-width: 1024px){
	.cd-fixed-bg{
		min-height: 62%;
		width: 100%;
	}
}

@media only screen and (max-width: 1024px){
	.cd-fixed-bg{
		min-height: 62%;
		width: 100%;
	}
}

@media only screen and (max-width: 960px){
	.cd-fixed-bg{
		min-height: 57%;
		width: 100%;
	}
}

@media only screen and (max-width: 768px){
	.cd-fixed-bg{
		min-height: 45%;
		width: 100%;
	}
}

@media only screen and (max-width: 414px) {	
	.subtitle{
		top: 65%;
		font-size: 17px;
	}
	.cd-fixed-bg {
		min-height: 37%;
		width: 100%;
	}
	
}

@media only screen and (max-width: 380px){
	.cd-fixed-bg h2 {
		font-size: 1.5rem;
	}
}
	}