body {
		background-color: #FFFFFF;
		font-family: plain,"Helvetica Neue",Helvetica,Arial,sans-serif;;
		color: #333333;
		margin: 0;
}

.subtitle{
		text-align: center;
		padding-bottom: 450px;
}

.name{
		font-weight: 700;
		font-size: 40px;
		margin-bottom: 0px;
}

.container {
		margin: 0 auto;
		width: 90%;
		max-width: 960px;
}

.bg{
		padding-bottom: 150px;
		width: 100%;
}

.intro{
		display: flex;
		max-width: 960px;
		padding-bottom:150px;
}
.portrait {
		max-width: 420px;
		padding-left: 35px;
}

.profile {
		padding-left: 65px;
		max-width: 400px;
}

.bq1 { 
		max-width: 900px; 
		background: url('../images/quote1.png') top left no-repeat; 
		padding-left: 65px;  
		color: #575757; 
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 150px;
}

.bq1 p { 
		padding-right: 15px; 
		line-height: 60px; 
		background: url('../images/quote2.png') bottom right no-repeat;  
		color: #333333; 
		font-size: 50px; 	
}

.two{
		display: flex;
		max-width: 960px;
		padding-bottom: 150px;
}

.two-a{
		padding-top: 10px;
		max-width: 400px;
}

.two-b {
		padding-left: 115px;
		max-width: 400px;
}

.bg2{
	margin: 0;
	padding-bottom: 150px;
	width: 100%;
}

.three{
	
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;	
}

.bq2 { 
		max-width: 900px; 
		background: url('../images/quote1.png') top left no-repeat; 
		padding-left: 60px;  
		color: #575757; 
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 150px;
}

.bq2 p { 
		padding-right: 35px; 
		line-height: 60px; 
		background: url('../images/quote2.png') bottom right no-repeat;  
		color: #333333; 
		font-size: 50px; 	
}

.four{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 150px;
}

.list{

}

h1 {
		padding-top: 300px;
		font-weight: 800;
		text-align: center;
		color: #333333;	
		/*border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		margin-left: 500px;
		margin-right: 500px; */
		margin-bottom: 5px;
		
}

h2{
		margin-bottom: 0px;
}

figure {
		margin: 30px; /* adjust as needed */
}

figure img {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		vertical-align: top;
}

figure figcaption {
		/*border: 1px dotted blue; /* remove later */
		padding-top: 10px;
		text-align: left;
}
